@import "_colours";
@import "_fonts";
@import "../sass/layout";

#site-header {
  border-top: solid 10px $bucks_green;
  background: white;
  background-color: white;
  border-bottom: none;
}

// Don't display a border atop the page
.nav-wrapper .nav-wrapper-2 {
  border-top: none;
}

body.frontpage, body.twothirdswidthpage, body.fullwidthpage, body.authpage {
  // Display the BCC logo and header correctly
  #site-logo {
    background: url(/cobrands/buckinghamshire/img/bucks-logo.png) 0 14px no-repeat;
    background-size: 60px;
    text-indent: 80px;
    height: 92px;
    line-height: 92px;
    font-size: 1.5em;
    // Getting rid of absolute positioning allows us to style the BCC nav below nicely
    position: static;
    width: auto;
  }

  // Make sure the header is only as tall as it needs to be
  #site-header {
    height: auto;

    .container {
      min-height: 0;
    }

    &:after {
      content: " ";
      height: 3em;
      display: block;
      border-bottom: solid 5px $g6;
      border-top: solid 5px $g6;
      background-color: white;
    }
  }

  #front-main {
    background-color: white;
    text-align: left;
    padding-top: 40px;

    #postcodeForm {
      margin-top: 0;

      div {
        margin: 0;
      }
    }

    a#geolocate_link {
      color: $b3;
    }

    h1 {
      font-size: 2.5em;
    }

    h1 + p {
      font-size: 1.5em;
      line-height: 1.25em;
      max-width: 640px;
    }
  }

  .nav-menu {
    float: left;
    width: 100%;
    margin-top: 6.5em;

    a, span {
      display: inline-block; // So the chevrons appear correctly
      font-size: 1.2em;
    }
    a {
      text-decoration: underline;
      color: $b3;

      &:hover {
        background: transparent;
        color: $g1;
      }
    }
    span {
      color: $g1;
    }
  }

  // Stop the 'report a problem' button being red on non-map pages
  .nav-menu--main a.report-a-problem-btn {
    background-color: transparent;
  }

  // Stop .nav-wrapper from preventing the logo being clicked
  .nav-wrapper .nav-wrapper-2 {
    height: 0;
    min-height: 0;
  }

  // Put FAQ side nav at correct vertical position
  .content .sticky-sidebar aside {
    top: 14.5em;
  }
}

body.mappage {
  // Stop the header being too tall
  #site-header {
    min-height: 79px;

    .container {
      min-height: 0;

      #site-logo {
        top: 0.125em;
        line-height: 44px;
      }
    }
  }

  .nav-menu {
    a, span {
      text-decoration: none;
      font-size: 1.1em;
      padding: 1em 0.75em 0.95em;
    }
    a:hover {
      background: transparent;
      text-decoration: underline;
    }
    a.report-a-problem-btn {
      color: white;
      margin: 0.5em 0.25em 0.45em;
      &:hover {
        background-color: lighten($bucks_green, 5%);
      };
    }
  }

  // Haven't quite figured out why this can't go on #site-header
  .nav-wrapper {
    .nav-wrapper-2 {
      border-bottom: solid 5px $g6;
    }
  }

  .big-green-banner {
    display: block;
    background-color: $bucks_green;
    text-transform: none;
  }
}

.bucks_footer {
    background: url(/cobrands/buckinghamshire/img/footer-bg.png) right bottom no-repeat;
    background-size: contain;
    min-height: 160px;
}

// Set the default font colour everywhere
body, .content {
  color: $g1;
}
